body{
    background:black;
    margin:auto;
}

div.photo1 {
    background:white;
    width: 600px;
    margin:auto;
    margin: top 25px;
}

img {
    width:100%
}

div.espacio {
    background:black;
    height:30px
}

p, h4 {
    padding-left: 10px; 
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.iconos {
    margin-top: 5px; 
    margin-left: 5px;
    margin-right: 5px;
    display:flex;
    justify-content:space-between;
}

i {font-size:25px;
margin-top: 10px;
margin-left: 8px; }

div.firstpart {
    display:flex;
}

div.imagen {width: 30px;
margin-top:15px;}

div.foto {width:30px;}

div.uno {display:flex;
    justify-content:space-between;
}